h1 {
    color: lightblue;
}

/* contact form */
.contact {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact .btn {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}